# Python

__pycache__/
*.py[cod]
.venv/
.env
dist/
build/
*.egg-info/
.ipynb_checkpoints/
.vscode/
.pytest_cache/

# Node artifacts (if any)
node_modules/
npm-debug.log

# OS files
.DS_Store
Thumbs.db
